@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
}
body{
    overflow: hidden;
}
#container{
    display: flex;
    flex-direction: row;
}
.img-cont{
    cursor:pointer;
    /* border: 1px solid black; */
    width:25%;
}

img{
    border: 2px solid black; 
    width: 100%;
    height: 99vh;
    object-fit: cover;
}

img:hover{
    transform: scale(1.005);
    border: 4px solid violet;
    /* filter: blur(5px); */
    transition: 0.5s;
}
h2{
    font-family: din condensed;
    width: 30%;
    text-transform: uppercase;
    font-size: 2rem;
}
#heading{
    width: 50%;
}
p{
    font-family: poppins;
    font-size: 12px;
}

h2,p{
    color:white;
    padding-left: 20px;
}
.description{
    position: relative;
    bottom:150px;
    /* bottom: -100px; */
}

@media screen and (max-width:1000px){
    .description{
        display:none;
    }
    img:hover{
        transform: scale(1.1);
        filter: blur(2px) grayscale(1);
    }
}